@model IEnumerable<ProductResponse>

@{
    ViewBag.Title = ViewBag.CategoryName;
    Layout = "_CategoriesLayout";
}


<h1>@ViewBag.CategoryName</h1>

<div class="card-list justify-content-center mt-3">
    @foreach (ProductResponse product in Model)
    {
        <div class="card shadow p-3 border-5 rounded mb-3" style="width: 18rem; margin-right: 4em">
            <img src="@product.ImageUrl" class="card-img-top">
            <div class="card-body bottom-0">
                <h5 class="card-title">@product.Name</h5>
                <div class="card-text">
                    @if (!product.IsDiscountActive)
                    {
                        <p class="card-text lead">@product.Price <span class="currency">₴</span></p>
                    }
                    else
                    {
                        <p class="text-decoration-line-through lead">@product.Price <span class="currency">₴</span></p>
                        <p class="card-text text-danger lead">@product.DiscountPrice <span class="currency">₴</span></p>
                    }
                </div>
                <a asp-controller="Home" asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary w-100 mt-3">Детальніше</a>
            </div>
        </div>
    }
</div>