@model IEnumerable<ProductResponse>

@{
    ViewBag.Title = "Free energy";
    Layout = "_CategoriesLayout";
}


<form class="mb-5" asp-action="Search" method="get">
    <div class="container">
        <div class="row">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input type="text" name="query" class="form-control" placeholder="Пошук..." />
                <button type="submit" class="btn btn-primary">Пошук</button>
            </div>
        </div>
    </div>
</form>

@if (ViewBag.Searched)
{
    <h2>Результат пошуку</h2>
    <div class="card-list justify-content-center">
        @foreach (ProductResponse product in Model)
        {
            <div class="card shadow p-3 border-5 rounded mb-3" style="width: 18rem; margin-right: 4em">
                <img src="@product.ImageUrl" class="card-img-top">
                <div class="card-body bottom-0">
                    <h5 class="card-title">@product.Name</h5>
                    <div class="card-text">
                        @if (!product.IsDiscountActive)
                        {
                            <p>@product.Price <span class="currency">₴</span></p>
                        }
                        else
                        {
                            <p class="text-decoration-line-through">@product.Price <span class="currency">₴</span></p>
                            <p class="text-danger">@product.DiscountPrice <span class="currency">₴</span></p>
                        }
                    </div>
                    <a asp-controller="Home" asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary w-100">Детальніше</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <h3 class="text-danger">За вашим запитом нійого не знайдено...</h3>
    </div>
}
