@model IEnumerable<ProductResponse>

@{
    ViewBag.Title = "Free energy";
}

<div class="container-fluid">
    <div class="dropdown d-md-none mb-3">
        <button class="btn btn-secondary w-100 dropdown-toggle" type="button" data-toggle="dropdown">
            Категорії
        </button>
        <div class="dropdown-menu mx-auto">
            @foreach (CategoryResponse category in ViewBag.Categories)
            {
                <hr />
                <a class="dropdown-item btn btn-secondary w-100 text-start" asp-area="Customer" asp-controller="Home" asp-action="Category" asp-route-categoryId="@category.Id">
                    @category.Name
                </a>
            }
            <hr />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-3 col-lg-2 border-end d-none d-md-block">
            <h2>Категорії</h2>
            @foreach (CategoryResponse category in ViewBag.Categories)
            {
                <hr />
                <a class="btn btn-secondary w-100 text-start" asp-area="Customer" asp-controller="Home" asp-action="Category" asp-route-categoryId="@category.Id">
                    @category.Name
                </a>
            }
        </div>
        <div class="col-12 col-md-9 col-lg-10">
            <form class="mb-5" asp-action="Search" method="get">
                <div class="container">
                    <div class="row">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-search"></i></span>
                            <input type="text" name="query" class="form-control" placeholder="Пошук..." />
                            <button type="submit" class="btn btn-primary">Пошук</button>
                        </div>
                    </div>
                </div>
            </form>

            @if (ViewBag.Searched)
            {
                <h2>Результат пошуку</h2>
                <div class="card-list justify-content-center">
                    @foreach (ProductResponse product in Model)
                    {
                        <div class="card shadow p-3 border-5 rounded mb-3" style="width: 18rem; margin-right: 4em">
                            <img src="@product.ImageUrl" class="card-img-top">
                            <div class="card-body bottom-0">
                                <h5 class="card-title">@product.Name</h5>
                                <div class="card-text">
                                    @if (!product.IsDiscountActive)
                                    {
                                        <p>@product.Price <span class="currency">₴</span></p>
                                    }
                                    else
                                    {
                                        <p class="text-decoration-line-through">@product.Price <span class="currency">₴</span></p>
                                        <p class="text-danger">@product.DiscountPrice <span class="currency">₴</span></p>
                                    }
                                </div>
                                <a asp-controller="Home" asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary w-100">Замовити</a>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="text-center">
                    <h3 class="text-danger">За вашим запитом нійого не знайдено...</h3>
                </div>
            }
        </div>
    </div>
</div>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
